h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 95px;
  margin: auto;
  color:rgb(245, 233, 234);
  font-weight: bolder;
  transition: background-color 0.5s ease;
  background-color:rgb(99, 184, 212);
}
h1:hover {
  background-color: rgb(245, 233, 234);
  color: rgb(99, 184, 212);
}
p {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  color: rgb(99, 184, 212);
  font-weight: bolder;
  padding-left: 2em;
  padding-right: 2em;
}
.background {
  content: "";
  display: block;
  z-index: -1;
  width: 100%;
  /* height: 100%; */
  background-image: url('../img/test-bg1.jpg');
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
li {
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}
footer {
  /* position: absolute;  */
  text-align:center;
  margin-bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(99, 184, 212);
  color: rgb(245, 233, 234);
}
#home, #leaderboard, #about {
  margin-left: 200px;
  margin-right: 200px;
}

* {
  box-sizing: border-box;
}

#tile-blocks-container {
  border: 5px solid black;
  border-radius: 7%;
  height: 505px;
  width: 505px;
  margin: 0 auto;
  margin-bottom: 100px;
  background: white;
}
.tile:hover{
  color: black;
}
.tile {
  float: left;
  border: 2px solid black;
  border-radius: 10%;
  width: 235px;
  height: 235px;
  margin: 5px;
  opacity: 0.20;
}

#tile1 {
  background: red;
}
#tile2 {
  background: blue;
}

#tile3 {
  background: yellow;
}

#tile4 {
  background: green;
}

#start-button {
  width: 120px;
  height: 50px;
  margin-bottom: 5px;
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
}

#start-button_container {
  text-align: center;
  margin-bottom: 20px;
}
#score{
  margin-bottom: 10px;
  margin-top: 10px;
}

body {
  margin: 0;
}

.shake {
  animation: shake 1.82s cubic-bezier(.36,26.07,.19,.97) both infinite;  
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.spin {
  display: block;
  animation: spinner-border 4s linear infinite;
  width: 2rem;
  height: 2rem;
  border-width: 0.25em;
  border-style: solid;
  border-color: currentcolor transparent currentcolor currentcolor;
  border-image: initial;
  border-radius: 50%;
}

.grow {
  display: block;
  animation: spinner-grow 1.5s linear infinite;
}
ul {
  text-align: center;
  margin-bottom: 0;
}

#easier {
  color: green;
}

#harder {
  color: red;
}