header {
    padding: 30px;
    margin-left: 90px;
    font-family: 'Permanent Marker', cursive;
    font-size: 95px;
}

h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    padding: 30px;
}

p {
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    font-weight: bold;
}


.background {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('../img/test-bg1.jpg');
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#play {
    height: 100px;
    width: 100%;
    
}

footer {
    padding: 200px;
}